.container-fluid {
  padding: 0 !important;
  z-index: 1 ;
  position: relative;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-control,
.form-control::placeholder {
  text-align: center;
  font-size: xxx-large !important;
}

.btn-primary {
  background-color: #32cd32 !important;
  border-color: #32cd32 !important ;
}

#log {
  height: 200px;
  width: 600px;
  overflow: scroll;
}
canvas{
  position: absolute;
  z-index: 0;
  top: 0;
}

